

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.login{
	margin: 2% 25%;	
	color: #FF9300;
	
}

legend{
	color: #FF9300;
}















