@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

html {
	height: 100%;
}

body {
	height: 100%;
	font-family:Quicksand,sans-serif;
}

/* - - - - - - - - - - - - -  MENU - - - - - - - - - - - - - - -*/

.navbar-default {
	border:none;
}

.navbar {
  height: 83px;
  z-index: 50;
  width: 100%;
	margin-bottom:0;
	background: white;
}

.navbar {
	background-color: #fff;
	border:none;
}

.navbar-nav {
  margin: 0px -15px;
}

.navbar-brand {
	padding: 0 15px 0 0;
}

.navbar ul.nav > li {
}

.navbar-default .navbar-nav>li{
	padding: 0;
}

.navbar-default .navbar-nav>li:hover{
    
}

.navbar-default .navbar-nav>li>a{
    padding: 30px 45px;
    border-top: 1px solid #fff;
    background: #fff;
    color: black;
}

.navbar-default .navbar-nav>li>a.icons{
    padding: 30px;
    color: black;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a.active{
    background: #ff9300;
    color:#fff;
}

.navbar-right>li a:hover {
	background: #fff;
}

.navbar ul.nav > li > a {
	font-weight:700;
}

#logo {
	height: 80px;
}

.navbar-header {
	
}

.navbar-toggle {
    margin-top: 22px;
}

.navbar-right li a img {
	width: 30px;
	height: auto;
}

/** Slider */

#owl-demo .item img {
    display: block;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.form-control {
	display: block;
}

.container-contact {
	width: 100%;
	height: 100%;
	position: fixed;
	color: #ff9300;
}

.btn-view {

}

#btn-send {
	margin-left: 15px;
}

#social-icons {

}

#social-icons ul{
	list-style-type: none;
    text-align: center;
}

#social-icons ul li{
	display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 10px;
}

#social-icons ul li a{
    color: #666;
    text-decoration: none;
	border: 0px solid #000000;
}

.social-icon {
	width: 30px;
	height: 30px;
}

.fixed_height_full {
    height: 100%;
}

.article {
	width: 95%;
}

.img-article {
	margin-top: 35px;
}

.description {
	width: 85%;
	padding: 15px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 85%;
}

.icons-article {
	position: absolute;
	top: 0;
	right: 80%;
	list-style-type: none;
}

.icons-article li {
	padding: 0 10px;
	text-decoration: none;
	float: left;
}

.icons-article li a{
	font-size: 2em;
	color: hotpink;
}

.body-orange {
	background: url(../admin/images/backgrounds/intro.png);
}

#slider {

}

.event figure {
	position: relative;
	margin: 30px 0;
}

.event figure img {
	width: 100%;
	height: auto;
}

.event figure figcaption {
	background: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 0;
	z-index:50;
	width: 100%;
}

.event figure h2 {
	padding: 0 20px;
	text-align: left;
	color:rgba(0,0,0,0.7);
}

.event figure p {
	padding: 0 20px;
	text-align: justify;
	color: black;
}

.promo {
	position: relative;
}

.promo figure {
	margin: 30px 0;
}

.promo figure img {
	width: 100%;
	height: auto;
}

.promo  figure figcaption {
	background: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
	z-index:50;
	max-width: 100%;
	margin-right: 15px;
	color: #fff;
}

.promo figure h2 {
	padding: 0 20px;
	text-align: left;
}

.promo figure p {
	padding: 0 20px;
	text-align: justify;
	
}

.dropdown-menu {
	background: rgba(0,0,0,1);
}

.dropdown-menu li {
	color: white;
}

.dropdown-menu li a {
	color: white;
}

.dropdown-menu li a:hover {
	background: #ff9300
	color: white;
}

/* - - - - - - - - - - - -  ITEMS - - - - - - - - - - - - - */
#filter {
  padding: 15px 0;
  background-color: #f0eff1;
  margin-bottom: 30px;
}


#filter-bar {
  background: #f0eff1;
  height: auto;
}

#filter-bar h3{
  text-align: center;
  background: #ff9300;
  color: #fff;
  border-color: #ff9300;
  padding: 5px 0;
}

.modal nav,
#filter-bar nav{
  border: 1px solid #ccc;
  background: #fff;
  margin: 15px 0;
  padding-bottom: 15px;
  padding-right: 15px;
}

.modal nav ul,
#filter-bar nav ul{
  padding-left: 20px;
}

.modal nav ul li,
#filter-bar nav ul li{
  list-style-type: none;
}

.modal nav ul li a,
#filter-bar nav ul li a{
  color: #11C1F3;
  display: block;
  text-decoration: none;
  padding: 5px 0;
}

#filter-bar nav.categories ul li ul li a{
  
}

#filter-bar nav.categories ul li ul li a:hover{
  text-decoration: underline;
  font-weight: bold;
}

#filter-bar nav ul li span{
  font-weight: bold;
  font-size: 18px;
}


#filter-bar nav.filters{
  
}

#filter-bar nav.filters ul{}

#filter-bar nav.filters ul li{}

#filter-bar nav.filters ul li a{
  
}

.modal nav.filters ul li ul li,
#filter-bar nav.filters ul li ul li {
  display: inline-block;
}

.modal nav.filters ul li ul li a,
#filter-bar nav.filters ul li ul li a{
  background: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 2px;
  width: 33px;
  height: 23px;
  border: 1px solid #CCCCCC;
  color: #7E8B98;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}

.modal nav.filters ul li ul.textures li a,
#filter-bar nav.filters ul li ul.colors li a{
  text-decoration: none;
  display: inline-block;
  padding: 0;
  border: 1px solid #aaa;
  margin-bottom: 3px;
}

.modal nav.filters ul li ul.textures li a img,
#filter-bar nav.filters ul li ul.colors li a img{
  display: inline-block;
  width: 33px;
  height: 23px;
}

.popularity i{
  color: pink;
}

#filter-bar nav.filters ul li span{}

#filter-bar nav.remove-filters{}

#filter-bar nav.remove-filters ul{}

#filter-bar nav.remove-filters ul li {}

#filter-bar nav.remove-filters ul li a{
  color: #000;
}

#catalog {
  background: #fff;
}

#catalog .item {
  background: transparent;
}

#catalog .item a {
	text-decoration: none;
}

#catalog .item > a:hover {
	background: rgba(0,0,0,0.4);
}

#catalog .item figure {
  border: 1px solid #ccc;
}

#catalog .item figure img{
	width: 100%;
	height: auto;
}

#catalog .item figure figcaption{
	text-align: center;
}

#catalog .item figure figcaption h4{
  background: rgba(0,0,0,0.7);
  color: #fff;
  padding: 10px 0;
  margin: 0;
}


#catalog .item figure figcaption p{
	width: 100%;
}

#catalog .item ul{
	padding: 0;
}

#catalog .item ul li{
	list-style-type: none;
	float: left;
	width: 50%;
	text-align: center;
}

#catalog .item ul li a{
	text-decoration: none;
}


td input {
	color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

/*  - - - - - - - - - - - - SHOPPINGCART - - - - - - - - - - -   */
#shopping-cart{
  margin-bottom: 2%;
  font-size: 1em;
  text-align: center!important;
}
#shopping-cart .header-table{
  padding: 15px 0;
  background-color: #f0eff1;
  margin-bottom: 30px;
}
#shopping-cart h4{
  font-size: 1em;
  margin-top: 0;
}
#shopping-cart article {}
#shopping-cart article figure{}
#shopping-cart article figcaption{}
#shopping-cart article figcaption h4{}
#shopping-cart article img{
  width: 80%;
  height: auto;
  margin: 0 auto;
}


/*	- - - - - - - - - - - - MODAL - - - - - - - - - - -   */

.modal.in .modal-dialog {
	z-index: 10000;
}

.modal-body form span {
  background: #fff;
	color: #00bfff;
}

.modal-header, 
.modal-footer {
	background: #fff;
	color: #00bfff;
}

.modal-header-skyblue, 
.modal-footer-skyblue {
	background: #00bfff;
	color: #fff;
}

.modal-header-white,
.modal-footer-white {
	background: #fff;
	color: #00bfff;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

.modal-footer a {
	text-decoration: none;
	color: #fff;
}

.modal-footer a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #fff;
}


/*- - - - - - - - - - - SETTINGS - - - - - - - - - - -  */

.padding {
	padding: 50px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-left-15 {
	padding-left: 15px;
}

.padding-right-15 {
	padding-right: 15px;
}

.padding-right-15 {
	padding-right: 15px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-83 {
	margin-top: 85px;
}

.margin-left-15 {
	margin-left: 15px;
}

.margin-right-15 {
	margin-right: 15px;
}
.btn:hover {
	font-weight: bold;
}

.text-left {
	text-align: left!important;
}

.text-right {
	text-align: right!important;
}

.text-center {
	text-align: center!important;
}

.pagination {
  margin: 0 15px;
}

.pagination li{}

.pagination li a{
  border: none;
  color: #333333;
}

.pull-rigth {
  float: right;
}





.sidebar {
    margin-bottom: 5px;
}

.sidebar .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar .sidebar-menu > li {
    margin: 0;
    padding: 0;
    border-top: 1px dotted #FFBE64;
}

.sidebar .sidebar-menu > li > a {
    padding: 15px 25px;
    display: block;
}

.right-side, .left-side {
    min-height: 100%;
    display: block;
}

.left-side {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
    min-height: 3961px;
}

.right-side {
    background-color: #f0f3f4;
    margin-left: 300px;
}

.content {
    padding: 20px 15px;
    background: #f0f3f4;
}


/*	F   O   R   M   U   L   A   R   I   O  S	*/
form {

}

legend {
	border-bottom: 5px solid #5bc0de;
}

legend span {
	margin: 0;
  border: none;
  padding: 5px;
  -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.btn-small {
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
  line-height: 100%;
  overflow: hidden;
  height: 40px;

  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-small:hover {
  text-decoration: none;
  font-weight: bold;
}

.btn-outline-skyblue {
	border-color: #11c1f3;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  color: #11c1f3;
}

.btn-outline-skyblue:hover {
	
}

button[type=button].button-clickeable,
button[type=submit] {
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  outline: none;
  line-height: 100%;
  overflow: hidden;
  height: 40px;

  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*
button[type=button].button-clickeable,
button[type=submit] {
  background-color: #ff9300;
  border: 1px solid #ff9300;
  color: #fff;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  outline: none;
  line-height: 100%;
  overflow: hidden;
  height: 40px;

  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

button[type=button].button-clickeable:hover,
button[type=submit]:hover {
	background-color: #fff;
	color: #ff9300;
	font-weight: bold;
}
*/

button i {
	margin: 0 10px 0 0;
}

input, textarea, select {

}

#img-buy-online {
	width: 100%;
	margin: 0;
}


.form-control {
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
}

.height-80.padding {
	height: 80%;
}



/*- - - - - - - - - - - -  BUTTONS - - - - - - - - - - -*/

.btn-red { 
  color: #FFFFFF; 
  background-color: #FF0000; 
  border-color: #FF0000; 
} 
 
.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  color: #FF0000; 
  background-color: #FFFFFF; 
  border-color: #FF0000; 
} 
 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #FF0000; 
  border-color: #FF0000; 
} 
 
.btn-red .badge { 
  color: #FF0000; 
  background-color: #FFFFFF; 
}





.btn-green { 
  color: #FFFFFF; 
  background-color: #5F9B0A; 
  border-color: #5F9B0A; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color: #5F9B0A; 
  background-color: #fff; 
  border-color: #5F9B0A; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background-color: #5F9B0A; 
  border-color: #5F9B0A; 
} 
 
.btn-green .badge { 
  color: #5F9B0A; 
  background-color: #FFFFFF; 
}


.btn-skyblue { 
  color: #FFFFFF; 
  background-color: #11C1F3; 
  border-color: #11C1F3; 
} 
 
.btn-skyblue:hover, 
.btn-skyblue:focus, 
.btn-skyblue:active, 
.btn-skyblue.active, 
.open .dropdown-toggle.btn-skyblue { 
  color: #11C1F3; 
  background-color: #FFFFFF; 
  border-color: #11C1F3; 
} 
 
.btn-skyblue:active, 
.btn-skyblue.active, 
.open .dropdown-toggle.btn-skyblue { 
  background-image: none; 
} 
 
.btn-skyblue.disabled, 
.btn-skyblue[disabled], 
fieldset[disabled] .btn-skyblue, 
.btn-skyblue.disabled:hover, 
.btn-skyblue[disabled]:hover, 
fieldset[disabled] .btn-skyblue:hover, 
.btn-skyblue.disabled:focus, 
.btn-skyblue[disabled]:focus, 
fieldset[disabled] .btn-skyblue:focus, 
.btn-skyblue.disabled:active, 
.btn-skyblue[disabled]:active, 
fieldset[disabled] .btn-skyblue:active, 
.btn-skyblue.disabled.active, 
.btn-skyblue[disabled].active, 
fieldset[disabled] .btn-skyblue.active { 
  background-color: #11C1F3; 
  border-color: #11C1F3; 
} 
 
.btn-skyblue .badge { 
  color: #11C1F3; 
  background-color: #FFFFFF; 
}



.btn-twitter { 
  color: #FFFFFF; 
  background-color: #3B88C3; 
  border-color: #3B88C3; 
} 
 
.btn-twitter:hover, 
.btn-twitter:focus, 
.btn-twitter:active, 
.btn-twitter.active, 
.open .dropdown-toggle.btn-twitter { 
  color: #3B88C3; 
  background-color: #FFFFFF; 
  border-color: #3B88C3; 
} 
 
.btn-twitter:active, 
.btn-twitter.active, 
.open .dropdown-toggle.btn-twitter { 
  background-image: none; 
} 
 
.btn-twitter.disabled, 
.btn-twitter[disabled], 
fieldset[disabled] .btn-twitter, 
.btn-twitter.disabled:hover, 
.btn-twitter[disabled]:hover, 
fieldset[disabled] .btn-twitter:hover, 
.btn-twitter.disabled:focus, 
.btn-twitter[disabled]:focus, 
fieldset[disabled] .btn-twitter:focus, 
.btn-twitter.disabled:active, 
.btn-twitter[disabled]:active, 
fieldset[disabled] .btn-twitter:active, 
.btn-twitter.disabled.active, 
.btn-twitter[disabled].active, 
fieldset[disabled] .btn-twitter.active { 
  background-color: #3B88C3; 
  border-color: #3B88C3; 
} 
 
.btn-twitter .badge { 
  color: #3B88C3; 
  background-color: #FFFFFF; 
}

.btn-facebook { 
  color: #FFFFFF; 
  background-color: #334C83; 
  border-color: #334c83; 
} 
 
.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  color: #334c83; 
  background-color: #FFFFFF; 
  border-color: #334c83; 
} 
 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  background-image: none; 
} 
 
.btn-facebook.disabled, 
.btn-facebook[disabled], 
fieldset[disabled] .btn-facebook, 
.btn-facebook.disabled:hover, 
.btn-facebook[disabled]:hover, 
fieldset[disabled] .btn-facebook:hover, 
.btn-facebook.disabled:focus, 
.btn-facebook[disabled]:focus, 
fieldset[disabled] .btn-facebook:focus, 
.btn-facebook.disabled:active, 
.btn-facebook[disabled]:active, 
fieldset[disabled] .btn-facebook:active, 
.btn-facebook.disabled.active, 
.btn-facebook[disabled].active, 
fieldset[disabled] .btn-facebook.active { 
  background-color: #334C83; 
  border-color: #334c83; 
} 
 
.btn-facebook .badge { 
  color: #334C83; 
  background-color: #FFFFFF; 
}




.btn-orange { 
  color: #FFFFFF; 
  background-color: #FF9300; 
  border-color: #ff9300; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #ff9300; 
  background-color: #FFFFFF; 
  border-color: #ff9300; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #FF9300; 
  border-color: #ff9300; 
} 
 
.btn-orange .badge { 
  color: #FF9300; 
  background-color: #FFFFFF; 
}