    <section id="slider">
      <div id="owl-demo" class="owl-carousel">
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
        <div><img src="admin/images/slider/slider01.jpg"></div>
      </div>
    </section>

    <div class="container-fluid">
      <div class="row">
        <aside id="events" class="col-md-3 col-xs-12 col-sm-12" >
          <a class="event" href="#">
            <figure>
              <img src="admin/images/events/ofert01.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 1</h2>
                <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                  accusantium doloremque laudantium.
                </p>
              </figcaption>
            </figure>
          </a>

          <a class="event" href="#">
            <figure>
              <img src="admin/images/events/ofert01.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Veritatis et quasi architecto beatae vitae 
                  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
        </aside>

        <section id="promos" class="col-md-9 col-xs-12 col-sm-12">
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event01.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Ipsam voluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event02.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit.
                </p>
              </figcaption>
            </figure>
          </a>
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event03.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Quasi architecto beatae vitae ipsam voluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event04.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Veritatis et quasi architecto beatae vitae 
                  dicta consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event05.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Nemo enim ipsam voluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
          <a class="promo" href="#">
            <figure class="col-sm-4">
              <img src="admin/images/events/event06.jpg" alt="Offert 1"/>
              <figcaption>
                <h2>Title 2</h2>
                <p>
                  Eoluptatem quia voluptas sit 
                  aspernatur aut odit aut fugit, sed quia consequuntur.
                </p>
              </figcaption>
            </figure>
          </a>
        </section>
      </div>
    </div> <!-- /container --> 