<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="logo" src="img/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="active" href="index.php">Home <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="index.php?ctrl=clothes&action=list" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothing <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.php?ctrl=clothes&action=list&category=bras">Bras</a></li>
            <li><a href="index.php?ctrl=clothes&action=list&category=panties">Panties</a></li>
            <li><a href="index.php?ctrl=clothes&action=list&category=bikinies">Bikinis</a></li>
            <li><a href="index.php?ctrl=clothes&action=list&category=pajamas">Pajamas</a></li>
            <li><a href="index.php?ctrl=clothes&action=list&category=lingeries">Lingerie</a></li>
          </ul>
        </li>
        <li><a href="index.php?ctrl=contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" title="My Account" class="icons" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user"></i></a></li>
        <li><a href="#" class="dropdown-toggle icons" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i></a></a>
        <ul class="dropdown-menu">
          <li><a href="index.php?ctrl=shopping-cart&action=list">$ 0.00 </a></li>
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <!-- Trigger the modal with a button 
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  -->
  <!-- Modal -->
  <div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-header-skyblue">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Log in</h4>
        </div>
        <div class="modal-body">
          <div class="login">
            <form role="form" onsubmit="return validateLogin()" data-validate-login>
              <div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="Email" data-required data-email/>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password" data-required data-password/>
                </div>
              </div>
  
              <button class="btn btn-orange btn-lg btn-block" type="submit"><i class="fa fa-sign-in"></i> Login</button>
              <a href="https://www.facebook.com/" target="_blank" class="btn btn-lg btn-block btn-facebook"> <i class="fa fa-facebook"></i> Facebook</a>
              <a href="https://twitter.com/" target="_blank" class="btn btn-lg btn-block btn-twitter"> <i class="fa fa-twitter"></i> Twitter</a>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer modal-footer-skyblue">
          <a href="forgot-password.php" class="btn btn-link">Forgot Password</a>
          <a href="register.php" class="btn btn-link pull-right">New Account</a>
        </div>
      </div>
      
    </div>
  </div>
</div>


