<div class="container-fluid margin-top-50">
  <section id="shopping-cart">
		<form class="form" method="post" >
			<fieldset> 
        <legend><span class="btn-info">Shopping cart</span></legend>
				<div class="row header-table">
          <div class="col-xs-2">
            <h4>Article</h4>
          </div>
          <div class="col-xs-3">
            <h4>Quantity</h4>
          </div>
          <div class="col-xs-2">
            <h4>Price</h4>
          </div>
          <div class="col-xs-3">
            <h4>Sub-total</h4>
          </div>
          <div class="col-xs-2">
            
          </div>   
        </div>
        <div class="row">
          <div class="col-xs-2">
          <article>
            <figure>
              <figcaption>
                <h4 class="name">Shortie Panty</h4>
              </figcaption>
              <img src="admin/images/lingerie/V449712.jpg" alt="article 1"/>
            </figure>
          </article>
          
          </div>
          <div class="col-xs-3">
            <span>2553</span>
          </div>
          <div class="col-xs-2">
            <span>$14.50</span>
          </div>
          <div class="col-xs-3">
            <span>123456789</span>
          </div>   
          <div class="col-xs-2">
            <a href="#"><span class="btn btn-red"><i class="fa fa-trash"></i></span></a>
          </div>   
        </div>
			</fieldset>
		</form>
  </section>    
</div>